@import "{devsignstudio:viu-ui}/import.scss";

.viu-textfield.is-info {
    input{
        border-bottom: 0;
        color: $color-grey-900;
    }
    textarea {
        border-bottom: 0;
        color: $color-grey-900;
    }
}

table tr td {
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
}